<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome</title>
</head>
<body>
<h3 th:text="|Welcome, ${user.username}!|">default welcome message</h3>
<a th:href="@{/}">Service Selection</a>
<div>
    <table>
        <th:block th:each="user : ${users}">
            <tr>
            <td th:text="|Username: ${user.username}|" ></td>
            <td><a th:href="@{/user/email}">User Email</a></td>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>